*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto Slab', serif;
}

h1{
    font-size: 2.3em;
    margin-bottom: 24px;
    margin-top: 16px;
    text-align: center;
}

p{
    font-size: 1.5em;
    text-indent: 15px;
    margin: 1.1%;
    text-align: center;
    max-width: 400px;
    margin-bottom: 36px;
}

body{
    background-color: #EBB0FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    min-height: 30%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, button{
    display: block;
    font-size: 1.5em;
    padding: 0.5%;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 12px;
}

input{
    padding: 15px;
    border: 1px solid #eee;
}

input:first-child{
    width: 140%;
}

button{
    font-weight: bold;
    background-color: #DC75FF;
    border: none;
    border-radius: 10px;
    min-width: 149px;
    min-height: 85px;
    font-size: 28px;
    padding: 15px;
    color: #fff;
    margin-top: 12px;
    transition: 1s;
}

button:hover{
    cursor: pointer;
    filter: brightness(0.9);
    transition: 1s;
}

section{
    display: flex;
    flex-direction: row;
    display: none;
}

.listaSec{
    background-color: rgba(0,0,0,0.3);
    width: 49vw;
    margin-right: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista{
    text-decoration: underline;
}

#lista1, #lista2{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
}

#dados1, #dados2{
    font-size: 1.1em;
    margin-bottom: 5px;
}

.copia{
    font-size: 1.2em;
    min-height: auto;
    min-width: auto;
    padding: 5px;
    margin-top: 6px;
}

@media screen and (max-width: 960px){
    main{
        width: 100%;
    }
    
    input{
        width: 70%;
    }

    input:first-child{
        width: 90%;
    }
}
